
.header{
    display: flex ;
    flex-direction: row;
    background-color: grey;
    justify-content: space-between;
    align-items: center;

}
.logo{
    padding-left: 20px;
}

.blocco1{
    display: flex;
    flex-direction: row;
}

.menu{
    display: flex;
    flex-direction: row;
    background-color: grey;
}

.header ul li{
    padding: 0px 10px;
    list-style: none;
}

.search_container .btn_search{
    
    border: 1px solid green;
    color: green;
    border-radius: 5px;
}

.blocco2{
   margin-right: 5px;
}

.hamburger{
    display: none;
}
.header .menu .dropdown {
    background-color: transparent;
    width: 16px;
    border: transparent;
    cursor: pointer;
}

.header ul li a{
    text-decoration: none;
    color: white;
}

@media (max-width:768px) {

    .header .menu-icon .nav-icon {
        background-color: black;
        display: block;
        width: 18px;
        height: 2px;
        position: relative;
        
    }

    .hamburger{
        display: block;
    }

    .elenco{
        display: none;
    }

    .blocco2{
        display: none;
    }

    .header .menu-icon .nav-icon::before,
    .header .menu-icon .nav-icon::after {
        background-color: black;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;

    }



    .header .menu-icon .nav-icon::before {
        top: 5px;
    }

    .header .menu-icon .nav-icon::after {
        top: -5px;
    }

    
    .header .menu-icon{
        float: right;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        margin: 0px 0px 0px 150px;
    }
     

.header{
    display: flex;
    justify-content: space-around;
}
    
}