body {
  width: 60em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3;
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #8ffda7;
  grid-column: 1 / end;
  grid-row: 1;
}

#orange {
  background-color: #ffc788;
  grid-column: 1 / 3;
  grid-row: 3;
}

#yellow {
  background-color: #ffff92;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#red {
  background-color: #ff919c;
}

#blue {
  background-color: #98d2ff;
  grid-column: 3;
  grid-row:  2 / 4;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
  
}

