table, td ,tr {
    border: 1px solid  #263238;
}

table {
 width: 50%;
 border-collapse: collapse;
}

table > caption {
    color: #263238;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

 table > thead{
     background-color: #455a64
     ;
     color: white;
}

table > tbody > tr:nth-child(even) {
    background: #eceff1;
}
table > tbody > tr:nth-child(odd) {
    background: #b0bec5;
}

table > tbody > tr > td:nth-child(2
) {
    color:  #003300;
}

table > tbody > tr > td:nth-child(3
) {
    color:  #7f0000;
}

table > tfoot > tr > td {
    background-color: #78909c;
}
