:root{
    --background-body: #011212;
    --background-ball: #ff8800;
    --width-ball:100px;
    --height-ball:100px;
    --barder-radius: 50px;
}

body {
    background-color: var(--background-body);
}

.ball {
    width: var(--width-ball);
    height: var(--height-ball);
    background-color: var(--background-ball);
    border-radius: var(--barder-radius);
}

